*,
*::before,
*::after {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img{
  width: 100%;
}
