.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  place-items: center;
  padding: 90px 50px;
}

.header__menu{
  justify-self: start;
  font-size: 18px;
}

.header__links-list{
  display: flex;
  margin: 0;
  list-style: circle;
  list-style-position: outside;
  gap: 30px;
}
 .header__links-list-item{
  list-style: circle;
 }

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active{
  text-decoration: underline;
}

.header__link{
  color: black;
}

.header__logo{
  justify-self: center;
  width: 148px;
  height: 105px;
  margin-left: 0;
}

.header__logo-image{
  display: block; 
 }

.address{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 5px;
    font-style: normal;
    justify-self: end;
    font-size: 18px;
    font-weight: 400;
}

.address a{
  display: block;
  text-decoration: underline;
  color: black;
}

.cover{
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
  box-sizing: border-box;
}

.overlay{
  position: absolute;
  background-color: rgba(0 0 0 / 0.6);
  z-index: 1;
  inset: 0;
}

.cover__title{
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  max-width: 1100px;
  z-index: 2;
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 0.5;
  letter-spacing: 30px;
}

.aligned-text{
  display: block;
  font-size: 100px;
  font-weight: 700;
  width: 100%;
}

.aligned-text_left{
 align-self: flex-start;
 text-align: left;
 margin-top: 140px;
}

.aligned-text_center{
  align-self: center;
  text-align: center;
  margin-top: 100px;
  margin-right: -30px;
}

.aligned-text_right{
align-self: flex-end;
text-align: right;
margin-top: 80px;
margin-right: -25px;
}

.cover__description{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1100px;
  z-index: 2;
  gap: 10px;
  
}

.cover__description-text{
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 15px;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.bet-button{
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif; 
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  cursor: pointer; 
}

.lots{
  margin-top: 180px;
  width: 100%;
  padding: 0 20px;
}

.lots__heading{
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
  margin-left: 40px;
  max-width: 1000px;
}

.lots__card-list{
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  gap: 25px;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item{
  min-height: 596px;
  width: 100%;
}

.lots__link{
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 48px 40px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 1);
}

.card_type_film{
background-image: url(../images/card-lot-01.jpg);
}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text{
  position: relative;
  z-index: 2;
}

.card__title{
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  max-width: 350px;
}

.card__text{
  font-size: 20px;
  font-family: "Raleway", sans-serif; 
  line-height: 1.2;
  font-weight: 400;
}

.lots__look-more-link{
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-decoration: underline;
  margin-left: 40px;
  max-width: 1000px;
}

.about{
  margin-top: 145px;
  padding: 10px 50px;
}

.about__column{
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 60px;
}

.about__logo{
  width: 240px;
  height: 240px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.about__logo-image{
  width: 70%;
  height: auto;
  display: block;
}

.about__title{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 100px 25px;
  margin: 0;
}

.about__text{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 1100px;
  margin-left: 25px;
  margin-bottom: 22px;
}

.footer{
  margin: 150px auto 0;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 170px;
}

.address_footer{
  margin-left: 50px;
}

.footer__menu-list{
  list-style: none;
  text-align: center;
}

.footer__menu-link{
  color: black;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-link_active{
  text-decoration: none;
}

.footer__social-list{
  list-style: none;
  display: flex;
  gap: 48px;
  margin-right: 50px;
}

.footer__social-link{
  display: inline-block;
  line-height: 0;
}

.footer__social-icon{
  display: block;
  width: 48px;
  height: 48px;
}